
body {
	background-color: #151723;
}


.SocialMedia {
	color: #ad2483;
	font-size: 20px;
	margin-top: 20px;
}


.images {
	width: 200px;
	border: solid #ad2483;
}


.caption {
	color: #ad2483;
	font-size: 17px;
}