body {
	background-color: white;
}

.card-title {
	border-style: groove;
	border-color: #5a3c90;
}

.img-circle {
	width: 300px;
	border: solid #7a2788;
}

.card {
	color: #7a2788;
}

.card-title {
	color: #333;
}


.col-md-8 {
	color: black;
}


.video-list {
	




{

}