
body {
	background-color: #ca9f9f;
}


.image-mel {
	border: 4px solid black;
	width: 350px;
}

.image-mel-column {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
}

.text-column {
	text-align: center;
	margin-top: 20px;
	margin-left: 340px;
}